{% extends 'base.html.twig' %}

{% block title %}My {{ title }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Found {% if elements %}{{ elements }}{% endif %} movies in the database!</h1>


        Select to see more details:
        <ul>
            {% for movie in data %}
                <li><a href="/movie/{{ movie.id }}"><strong>{{ movie.name }}</strong></a> - {{ movie.score }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
